<div class="welcome-card fade-in">
  <h1 class="welcome-title">Welcome to BMA Training</h1>
  <div class="success-message">คุณล็อกอินแล้วค่ะ 🎉</div>
    <%= debug(session[:user]) %> 
  <%= button_to "Logout", logout_path, method: :delete, class: "btn" %>
</div>

